Vivaldi, Vivaldi.ico
KeePass 2, KeePass.ico
Google Chrome, Google Chrome.ico
foobar2000, Foobar.ico
Adobe Acrobat DC, Adobe Acrobat Reader.ico
Adobe Acrobat Distiller DC, Adobe Acrobar Distiller.ico
Adobe After Effects, Adobe After Effects.ico
Adobe Creative Cloud, Adobe Creative Cloud.ico
Adobe Illustrator, Adobe Illustrator.ico
Adobe InDesign, Adobe InDesign.ico
Adobe Photoshop, Adobe Photoshop.ico
Adobe Premiere, Adobe Premiere.ico
Windows Media Player, Windows Media Player alt.ico
Discord, Discord.ico
Rainmeter, Rainmeter.ico
OneDrive, OneDrive.ico
Skype, Skype.ico
Syncplay, Syncplay.ico
Mp3tag, Mp3tag.ico
Tixati, Share alt 2.ico

PowerPoint, PowerPoint 2013.ico
Word 2016, Word 2013.ico

JetBrains.*/.*IDEA.*, Idea.ico
JetBrains.*/.*CLion.*, CLion.ico
JetBrains.*/.*Rider.*, Rider.ico
JetBrains.*/.*DataGrip.*, DataGrip.ico
JetBrains.*/.*PhpStorm.*, PhpStorm.ico

Docker for Windows, Docker.ico
